<div class="bg-danger kind-content">
    <div class="container">
        <h1>AngularJs</h1>
        <p class="lead">HTML enhanced for web apps!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="btn-group-vertical col-lg-12">
                <a data-ng-href="#/framework/angular/ng-function" class="btn btn-default">Ng Function</a>
                <a data-ng-href="#/framework/angular/ng-direction" class="btn btn-default">Ng Direction</a>
            </div>
        </div>
        <div class="col-lg-9" data-ui-view></div>
    </div>    
</div>