<h1>
    TgosDrone{{selected_drone_id}}
</h1>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="fa fa-cloud-download"></i>
            <div class="value">{{roll}}</div>
            <div class="title">ROLL</div>						
        </div><!--/.info-box-->			
    </div><!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark1-bg">
            <i class="fa fa-shopping-cart"></i>
            <div class="value">{{pitch}}</div>
            <div class="title">PITCH</div>						
        </div><!--/.info-box-->			
    </div><!--/.col-->	

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box teal-bg">
            <i class="fa fa-thumbs-o-up"></i>
            <div class="value">{{yaw}}</div>
            <div class="title">YAW</div>						
        </div><!--/.info-box-->			
    </div><!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box linkedin-bg">
            <i class="fa fa-cubes"></i>
            <div class="value">{{alt}}</div>
            <div class="title">ALTITUDE</div>						
        </div><!--/.info-box-->			
    </div><!--/.col-->

</div><!--/.row-->

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box yellow-bg">
            <i class="fa fa-cloud-download"></i>
            <div class="value">{{satellites_count}}</div>
            <div class="title">SATELLITES</div>						
        </div><!--/.info-box-->			
    </div><!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box purple-bg">
            <i class="fa fa-shopping-cart"></i>
            <div class="value">{{battery}}</div>
            <div class="title">BATTERY</div>						
        </div><!--/.info-box-->			
    </div><!--/.col-->	

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box lime-bg">
            <i class="fa fa-thumbs-o-up"></i>
            <div class="value">{{vSpeed}}</div>
            <div class="title">AIR SPEED</div>						
        </div><!--/.info-box-->			
    </div><!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box pink-bg">
            <i class="fa fa-cubes"></i>
            <div class="value">{{gSpeed}}</div>
            <div class="title">GROUNT SPEED</div>						
        </div><!--/.info-box-->			
    </div><!--/.col-->

</div><!--/.row-->