<div data-ng-include data-src="'./views/common/letdrone_header.html'"></div>

<div data-ui-view></div>



<!-- <div id="wrapper" style="height:200px; overflow: auto;">
    <ul>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
        <li>내용</li>
    </ul>
</div> -->


<div data-ng-include data-src="'./views/common/letdrone_footer.html'" id="letDroneFooter"></div>