
<content>

	<div id="deviceArea">
	    <div class="modeArea">
	        <ul>
	            <li><button type="button" class="new">NEW</button></li>
	            <li><button type="button" class="open">OPEN</button></li>
	            <li><button type="button" class="save">SAVE</button></li> 
	            <li><button type="button" class="saveas">SAVE AS</button></li>           
	            <li><button type="button" class="cancel">CENCEL</button></li>	            
	        </ul>
	    </div>

	    <div class="deviceCon">
	    	
	    	<dl class="droneInfo">
	    		<dt><span>Drone</span> Information</dt>
	    		<dd>
	    			<div class="droneImgArea">
	    				<img src="../images/temp/tempDrone325225.jpg" alt="">
	    				<button>+</button>	
	    			</div>
	    		
	    			<table>
	    				<colgroup>
	    					<col width="65px">
	    					<col width="*">
	    				</colgroup>
	    				<tbody>
	    					<tr>
	    					 	<th>Name</th>
	    					 	<td><input type="text" name="" /></td>
	    					</tr>
	    					<tr>
	    					 	<th>Model</th>
	    					 	<td>HTW-A-REF</td>
	    					</tr>
	    					<tr>
	    					 	<th>Mfr.</th>
	    					 	<td>Hanwha Techwin</td>
	    					</tr>
	    					<tr>
	    					 	<th>Type</th>
	    					 	<td>Quad-Copter</td>
	    					</tr>
	    					<tr>
	    					 	<th>Desc.</th>
	    					 	<td><textarea></textarea></td>
	    					</tr>
	    				</tbody>
	    			</table>
	    		</dd>
	    	</dl>

	    	<div class="droneSet">
	    		<dl class="droneStrcut">
	    			<dt><span>Drone</span> Structure</dt>
	    			<dd>
	    				<span class="btnStrctArea03"><button type="button" class="btnStrctTypeA">Drone</button></span>
	    				<ul class="depth2">
	    					<li><span class="btnStrctArea02"><button type="button" class="btnStrctTypeC">FCC</button>
	    						<div class="btncolorNum colNum01">1
									<ol style="display:none">
										<li>1</li>
										<li>2</li>
										<li>3</li>
										<li>4</li>
										<li>5</li>
										<li>6</li>
										<li>7</li>
										<li>8</li>
										<li>9</li>
										<li>10</li>
									</ol>
	    						</div></span>
	    					</li>

	    					<li><span class="btnStrctArea02"><button type="button" class="btnStrctTypeB">Flight Camera</button></span></li>
	    					<li><span class="btnStrctArea01"><button type="button" class="btnStrctTypeC  btnStrctOff">Gimbal</button>
								<div class="btncolorNum colNum01">1
									<ol style="display:none">
										<li>1</li>
										<li>2</li>
										<li>3</li>
										<li>4</li>
										<li>5</li>
										<li>6</li>
										<li>7</li>
										<li>8</li>
										<li>9</li>
										<li>10</li>
									</ol>
	    						</div>
	    					</span>
								<ul class="depth3">
									<li><span class="btnStrctArea02"><button type="button" class="btnStrctTypeB">Motor</button></span></li>
									<li><span class="btnStrctArea02"><button type="button" class="btnStrctTypeB">Day Camera</button></span></li>
									<li><span class="btnStrctArea02"><button type="button" class="btnStrctTypeB">Night Camera</button></span></li>
								</ul>
	    					</li>
	    					<li><span class="btnStrctArea02"><button type="button" class="btnStrctTypeB">Battery</button></li>
	    					<li><span class="btnStrctArea02"><button type="button" class="btnStrctTypeC">Reference Kit</button>
									<div class="btncolorNum colNum03">3
									<ol style="display:none">
										<li>1</li>
										<li>2</li>
										<li>3</li>
										<li>4</li>
										<li>5</li>
										<li>6</li>
										<li>7</li>
										<li>8</li>
										<li>9</li>
										<li>10</li>
									</ol>
	    						</div>
	    					</li>
	    				</ul>

	    			</dd>
	    		</dl>


	    		<dl class="droneComm">
	    			<dt><span>Drone</span> Communication 
						<div class="btnAreaA">
							<button type="button"><img src="images/btn/btnPlus.png" alt="추가하기"></button>
							<button type="button"><img src="images/btn/btnMinus.png" alt="삭제하기"></button>
						</div>
	    			</dt>
	    			<dd>
	    				<div class="comArea">
	    					<table>
	    						<colgroup>
	    							<col width="15%">
	    							<col width="30%">
	    							<col width="25%">
	    							<col width="20%">
	    						</colgroup>
	    						<thead>
	    							<tr>
	    								<th>No</th>
	    								<th>IP</th>
	    								<th>Port</th>
	    								<th>Advance</th>
	    							</tr>
	    						</thead>
								<tbody>
									<tr>
										<td> <span class="colNum01">1</span> </td>
										<td>193.168.2.7</td>
										<td>14550</td>
										<td><button><img src="images/btn/btnSet.png"></button></td>
									</tr>
									<tr class="on">
										<td> <span class="colNum01">1</span> </td>
										<td>193.168.2.7</td>
										<td>14550</td>
										<td><button><img src="images/btn/btnSet.png"></button></td>
									</tr>
								</tbody>
	    					</table>
	    					
	    				</div>

	    			</dd>
	    		</dl>

	    	</div>


	    </div>
	</div>

	
</content>

<div class="seletRegistLayer" style="display:none">
<div class="dimed"></div>
	<div class="RegistLeyer" >
		<div class="popTop">Selet Registered Model 

			<div class="topIco"><img src="images/ico/icoRegistTop.png"></div>
			<button type="button" class="closeTypeA" ><span class=blind>닫기</span></button>
		</div>
		<dl>				
			<dd style="display:none">
				<div class="listTap"><button class="on">Model</button><button>Gimbal</button></div>
				<div class="listBox">
					<div class="listTh"><span class="num">No</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></div>
					<ul>     
						<li><span class="num">1</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">2</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">3</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">4</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">5</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">6</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">7</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">8</span> <span class="name">Name</span> <span class="nfr">Mfr.</span></li>
					</ul>
				</div>								
			</dd>

			<dd style="display:block">
				<div class="listTap"><button>Model</button><button  class="on">Gimbal</button></div>
				<div class="listBox">
					<div class="listTh"><span class="num">No</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></div>
					<ul>     
						<li><span class="num">1</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">2</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">3</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">4</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">5</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">6</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">7</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></li>
						<li><span class="num">8</span> <span class="name">Gimbal</span> <span class="nfr">Mfr.</span></li>
					</ul>
				</div>
			</dd>
			<dd class="pdT01">
				<div class="tableBox">
					<table>
						<colgroup>
							<col width="">
							<col width="">
						</colgroup>
						<tbody>
							<tr>
								<th>Name</th>
								<td><input type="" name=""></td>
							</tr>
							<tr>
								<th>Gimbal Type</th>
								<td><input type="" name="" class="on"></td>
							</tr>
							<tr>
								<th>Description</th>
								<td><input type="" name=""></td>
							</tr>
							<tr>
								<th>Description</th>
								<td><input type="" name=""></td>
							</tr>
							<tr>
								<th>Description</th>
								<td><input type="" name=""></td>
							</tr>
							<tr>
								<th>Description</th>
								<td><input type="" name=""></td>
							</tr>
						</tbody>
					</table>
				</div>							
			</dd>			
			<dd class="buttonArea">
				<button type="button" class="ok">Ok</button>
				<button type="button" >Cancel</button>
			</dd>

		</dl>
	</div>
</div>
<!-- Selet Registered Model layer end-->



<!-- Selet Drone Model layer start-->
<div class="seletModelLayer" style="display:none">
	<div class="dimed"></div>

	<div class="modelLeyer" >
		<div class="popTop">Selet Drone Model  
			<div class="topIco"><img src="images/ico/icoDroneTop.png"></div>
            <button type="button" class="closeTypeA" >
                <span class=blind>닫기</span>
            </button>
        </div>
		<dl>				
			<dd >
				<div class="listBox">
					<div class="listTh"><span class="num">No</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></div>
					<ul>     
						<li><span class="num">1</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></li>
						<li><span class="num">2</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></li>
						<li><span class="num">3</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></li>
						<li><span class="num">4</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></li>
						<li><span class="num">5</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></li>
						<li><span class="num">6</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></li>
						<li><span class="num">7</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></li>
						<li><span class="num">8</span> <span class="name">Name</span> <span class="nfr">Nfr.</span></li>
					</ul>
				</div>
								
			</dd>
			
			<dd class="buttonArea">
				<button type="button" class="ok">Ok</button>
				<button type="button" >Cancel</button>
			</dd>

		</dl>
	</div>
</div>
<!-- Selet Drone Model layer end-->


<!-- Advance Setting layer start-->
<div id="advancelLayer" style="display:none">
	<div class="dimed"></div>

	<div class="settingLeyer" >
		<div class="popTop">Advance Setting 
			<div class="topIco"><img src="images/ico/icoAdvanceTop.png"></div>
            <button type="button" class="closeTypeA" >
                <span class=blind>닫기</span>
            </button>
        </div>
		<dl>				
			<dd>
				<table>
					<colgroup>
						<col width="">
						<col width="">
					</colgroup>
					<tbody>
						<tr>
							<th><span class="setIp">IP</span></th>
							<td><input type="text" name=""></td>
						</tr>
						<tr>
							<th><span class="setPort">Port</span></th>
							<td><input type="text" name=""></td>
						</tr>
					</tbody>
				</table>								
			</dd>
			<dd>
				<table>
					<colgroup>
						<col width="">
						<col width="">
					</colgroup>
					<tbody>
						<tr>
							<th>Comm Type</th>
							<td>
								<select>
									<option>TCP</option>
									<option></option>
									<option></option>
								</select>
							</td>
						</tr>
						<tr>
							<th>Socket Type</th>
							<td>
								<select>
									<option>Server</option>
									<option></option>
									<option></option>
								</select>
							</td>
						</tr>
						<tr>
							<th>Portocol</th>
							<td>
								<select>
									<option>Mavlink</option>
									<option></option>
									<option></option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</dd>
			
			<dd class="buttonArea">
				<button type="button" class="ok">Save</button>
				<button type="button" >Cancel</button>
			</dd>

		</dl>
	</div>
</div>
<!-- Advance Setting layer end-->




 