<div class="dimed"></div>
<nav>
	<div class="gnbMain">
		<img src="images/common/gnbMain.png" alt="GNB" usemap="#gnb">
		<map name="gnb">
		<area shape="poly" alt="" title="" coords="189,2,273,1,320,79,277,156,182,156,143,78" href="" target="" />
		<area shape="poly" alt="" title="" coords="331,248,413,243,457,321,417,397,326,398,286,329" href="" target="" />
		<area shape="poly" alt="" title="" coords="191,331,271,329,320,405,275,476,189,476,144,410" href="" target="" />
		<area shape="poly" alt="" title="" coords="49,247,130,247,173,324,135,401,43,398,0,325" href="" target="" />
		<area shape="poly" alt="" title="" coords="48,85,128,84,174,161,132,235,44,234,-1,162" href="" target="" />
		</map>
	</div>


</nav>
<script type="text/javascript">

</script>